
$sidebarDefaultBackground: #F4F6F8;

$buttonDefaultBackgroundColor: #4dd599;
$buttonDefaultTextColor: #fff;
$buttonSecondaryBackgroundColor:#F4F6F8;
$buttonSecondaryTextColor: #9C9C9C;

$taskItemBackgroundColor: #fff;
$taskItemTextColor: #000;
$taskItemAddBtnColor: #767676;
